// Colors
$primary: #FFC107;

// Orange
$orange-100: #FDBC84 !default;
$orange-200: #FF9831 !default;
$orange-300: #EE8300 !default;
$orange-400: #D07200 !default;
$orange-500: #B26100 !default;
$orange-600: #975100 !default;
$orange-700: #7B4100 !default;
$orange-800: #623300 !default;
$orange-900: #462602 !default;
 
// Red
$red-100: #FDBAAB !default;
$red-200: #FF9783 !default;
$red-300: #FF735E !default;
$red-400: #FF4136 !default;
$red-500: #EA011D !default;
$red-600: #C70117 !default;
$red-700: #A40011 !default;
$red-800: #83000B !default;
$red-900: #610402 !default;
 
// Pink
$pink-100: #ECBDDA !default;
$pink-200: #E79ECD !default;
$pink-300: #E180C0 !default;
$pink-400: #DA5BB3 !default;
$pink-500: #B14891 !default;
$pink-600: #A04082 !default;
$pink-700: #82336A !default;
$pink-800: #682754 !default;
$pink-900: #4C1C3D !default;
 
// Purple
$purple-100: #D4C4EA !default;
$purple-200: #C2ABE3 !default;
$purple-300: #B094DC !default;
$purple-400: #9D7CD4 !default;
$purple-500: #8965CC !default;
$purple-600: #724BC3 !default;
$purple-700: #5E36BC !default;
$purple-800: #4A279F !default;
$purple-900: #361C75 !default;
 
// Blue
$blue-100: #AFCDFB !default;
$blue-200: #85B9FD !default;
$blue-300: #55A6FC !default;
$blue-400: #188CE5 !default;
$blue-500: #1275C1 !default;
$blue-600: #0F69AE !default;
$blue-700: #0A558E !default;
$blue-800: #064372 !default;
$blue-900: #083153 !default;
 
// Green
$green-100: #48E674 !default;
$green-200: #34CE63 !default;
$green-300: #2DB757 !default;
$green-400: #26A04B !default;
$green-500: #1F893F !default;
$green-600: #197335 !default;
$green-700: #125E29 !default;
$green-800: #0C4A1F !default;
$green-900: #0A3616 !default;
 
// teal
$teal-100: #44E0DE !default;
$teal-200: #2FC9C7 !default;
$teal-300: #27ACAA !default;
$teal-400: #229B9A !default;
$teal-500: #1D8583 !default;
$teal-600: #17706F !default;
$teal-700: #105B5A !default;
$teal-800: #0B4847 !default;
$teal-900: #093434 !default;
 
// Yellow
$yellow-200: #FFF066 !default;
$yellow-300: #FFEB33 !default;
$yellow-400: #FFE600 !default;
$yellow-500: #CCB800 !default;
$yellow-600: #998A00 !default;
 
// Grey
$grey-00: #FFF !default;
$grey-50: #F3F3F5 !default;
$grey-100: #DEDEE2 !default;
$grey-150: #D7D7DC !default;
$grey-200: #C3C3CB !default;
$grey-250: #BFBFC8 !default;
$grey-300: #AFAEBA !default;
$grey-350: #A4A3B1 !default;
$grey-400: #9897A6 !default;
$grey-450: #8A8A9B !default;
$grey-500: #7F7F91 !default;
$grey-550: #737387 !default;
$grey-600: #656579 !default;
$grey-650: #5F5F72 !default;
$grey-700: #4E4E5D !default;
$grey-750: #4D4D5C !default;
$grey-800: #3F3F4C !default;
$grey-850: #33333E !default;
$grey-900: #2E2E38 !default;
$grey-950: #23232F !default;
$grey-1000: #1A1A24 !default;

// Alerts color
$error: #F95D54;
$error-bg: #2C0B0e;

$warning: #FFCD39;
$warning-bg: #664D03;

$success: #57E188;
$success-bg: #0A3622;

$info: #CFE2FF;
$info-bg: #052C65;