@font-face {
    font-family: 'nl-breezeSans';
    src: url('../../assets/fonts/BreezeSans-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'nl-breezeSans';
    src: url('../../assets/fonts/BreezeSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'nl-breezeSans';
    src: url('../../assets/fonts/BreezeSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'nl-breezeSans';
    src: url('../../assets/fonts/BreezeSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'nl-breezeSans';
    src: url('../../assets/fonts/BreezeSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}