@use 'sass:map';
@use '../common/base' as b;
@use '../common/colors' as c;

// Components
@use './components/accordion.map' as accordion;
@use './components/avatar.map' as avatar;
@use './components/badge.map' as badge;
@use './components/button.map' as button;
@use './components/button-group.map' as buttonGroup;
@use './components/fab-button.map' as fabButton;
@use './components/icon-button.map' as iconButton;
@use './components/icon.map' as icon;
@use './components/loading-spinner.map' as loadingSpinner;
@use './components/progress-bar.map' as progressMap;
@use './components/text-link.map' as textLink;

// Form Components
@use './components/form/error-message.map' as formErrorMessage;
@use './components/form/input.map' as formInput;
@use './components/form/label.map' as formLabel;

@function merge($arrs) {
    $final: ();
    @each $arr in $arrs {
        $final: map.merge($final, $arr);
    }
    @return $final
}

$variables:
    accordion.$variables,
    avatar.$variables,
    badge.$variables,
    button.$variables,
    buttonGroup.$variables,
    fabButton.$variables,
    icon.$variables, 
    iconButton.$variables, 
    loadingSpinner.$variables,
    progressMap.$variables,
    textLink.$variables,
    
    formErrorMessage.$variables,
    formInput.$variables,
    formLabel.$variables;

$baseVars: (
    'primary-font': 'BreezeSans',
    'font-size': 16px,
    'weight-light': 300,
    'weight-bold': 700,
    'body-color': c.$grey-100,

    'ease-in-out': b.$ease-in-out,
    'ease-in-out-fast': b.$ease-in-out-fast,
    'ease-in-out-expo': b.$ease-in-out-expo,
);

$themeVars: merge($variables);