.nl-text-link {
  color: var(--nl-text-link--color);
  display: inline-flex;
  font-size: var(--font-size);
  font-family: var(--primary-font);
  line-height: 1.25rem;
  background: transparent;
  font-weight: var(--nl-text-link--font-weight);
  outline: none;
  position: relative;
  text-decoration: none;
  align-items: center;
  border: none;
  padding: 0;

  &:hover {
    cursor: pointer;
    border-width: var(--nl-text-link-hover--border-width);
    border-style: var(--nl-text-link-hover--border-style);
    border-color: var(--nl-text-link-hover--color);
  }

  &:focus-visible {
    border-width: var(--nl-text-link-focus--border-width);
    border-style: var(--nl-text-link-focus--border-style);
    border-color: var(--nl-text-link-focus--color);
    border-radius: var(--nl-text-link-focus--border-radius);
    outline-width: var(--nl-text-link-focus--outline-width);
    outline-style: var(--nl-text-link-focus--outline-style);
    outline-color: var(--nl-text-link-focus--outline-color);
    outline-offset: var(--nl-text-link-focus--outline-offset);
    box-sizing: border-box;
  }

  &.nl-text-link-disabled {
    color: var(--nl-text-link-disabled--color);
    pointer-events: none;

    &:focus-visible,
    &:hover {
      --nl-text-link--color: var(--nl-text-link-disabled--color);

      text-decoration: none;
      border-bottom: none;
      cursor: not-allowed;
    }
  }
}
