@forward './Input/input';
@forward './Label/label';
@forward './Select/select';
@forward './ErrorMessage/errorMessage';

.nl-form-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}